
BODY { 
scrollbar-face-color:#FF3D86; 
scrollbar-highlight-color:#FF3D86; 
scrollbar-3dlight-color:#FFFFFF; 
scrollbar-darkshadow-color:#FFFFFF; 
scrollbar-shadow-color:#FFFFFF; 
scrollbar-arrow-color:#ffffff; 
scrollbar-track-color:#ffffff; 
} 
